.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 328px;
  width: 570px;
  --thumb-color: #3a50f9;
  --thumb-hover-color: #7484fb;
  --track-color: #c0c0c0;
  --track-active-color: #3a50f9;
  --number-width: 52px;
  margin: 48px auto 60px;
}

.u-section-1 .u-input-1 {
  --radius: 16px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 16px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  --radius: 16px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  --radius: 16px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  --radius: 16px;
}

.u-section-1 .u-input-6 {
  --radius: 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}